.login-form {
  background-color: #f6f6f6;
  padding: 20px 0px 100px;
}

.form {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  border: 1px solid #d8d8da;
}

.login-social-btn button {
  padding: 8px 0px;
  border: none;
  margin: 5px 0px;
  width: 100%;
  color: #fff;
  border-radius: 5px;
}

.short {
  position: relative;
  margin: 20px 0px;
}
.short span {
  position: relative;
  background-color: #fff;
  color: black;
  z-index: 999;
  font-size: 14px;
  padding: 0px 10px;
}

.short-separator {
  position: absolute;
  width: 100%;
  height: 0.5px;
  background: #000000;
  z-index: 1;
  bottom: 9px;
}

.login-btn {
  width: 100%;
}

.pws-btn {
  position: relative;
}

.show-hide {
  position: absolute;
  top: 8px;
  right: 15px;
}
